{% extends "base.html" %}

{% block content %} 
{% if single_post == False %}
<h1>Build a Blog!</h1>

    
<hr />

    {% if blogs|length == 0 %}
    <p>You havent posted anything yet!</p>
    {% else %}

        <ul>
            {% for blog in blogs %}
            
                <a href='/blogs?id={{blog.id}}'><h3>{{blog.name}}</h3></a>
                <h4><p>{{blog.blog}}</p></h4>
                  
                
            
            {% endfor %}
        </ul>
    {% endif %}
{% else %}
<h1>{{blogs.name}}</h1>
<p>{{blogs.blog}}</p>
{% endif %}

{% endblock %}